.header {
  width: 100%;
  height: 70px;
  align-items: center;
  display: flex;
  box-shadow: 0 0 1px #eee;

  img {
    height: 30px;
  }


  padding: 0 1rem;
  @media(min-width: 576px) {
    padding: 0 3rem;
  }
}
